html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background: linear-gradient(to bottom, #999999, #ffffff);
  /* border-bottom: 1px solid #eee; */
}
.language-switch {
  display: flex;
  gap: 8px;
}
.language-switch a {
  text-decoration: none;
  border-bottom: none;
}
.language-switch img {
  height: 24px;
  vertical-align: middle;
  transition: transform 0.2s;
}
.language-switch a:hover img {
  transform: scale(1.1);
  box-shadow: 0 2px 8px #aaa;
}
.site-logo {
  height: 80px;
}

/* 侧边导航栏 */
.side-nav {
  width: 200px;
  padding: 20px;
  background: linear-gradient(to bottom, #eeeeee, #ffffff);
  font-family: Georgia, serif;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin: 20px 0;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  text-shadow: 1px 1px 3px #aaa;
  display: inline-block;
  padding-bottom: 2px;
}

.nav-link.active {
  border-bottom: 3px solid darkred;
}

.layout-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.layout-wrapper > footer {
  margin-top: auto;
}

/* content heading */
h1 {
  border-bottom: 3px solid darkred;
  padding-bottom: 0.2em;
  margin-bottom: 0.8em;
  display: block;
  width: 100%;
  color: darkred;
  font-size: 1.5em;
}

p {
  line-height: 1.6;
  font-size: 1.2em;
  margin-bottom: 1.2em;
}