<!DOCTYPE html>
<html lang="{{ page.lang | default: 'ja' }}">

<head>
  <meta charset="UTF-8" />
  <title>{{ site.title }} | {{ page.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  <div class="layout-wrapper" style="display: flex; flex-direction: column; min-height: 100vh;">

    {% include header.html %}

    <div style="display: flex; flex: 1 0 auto;">
      {% include nav.html %}
      <main style="flex: 1; padding: 20px;">
        {{ content }}
      </main>
    </div>

    {% include footer.html %}
  </div>
</body>

</html>